.img-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 100px;
}

.img-3-cover{
    width: 380px;
    height: 260px;
    background: var(--color-teal);
    position: relative;

    &:nth-child(n){
        
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transition: .2s transform linear;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transition: .2s all linear;
            opacity: 0;
            z-index: 2;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:hover::after{
            transform: translate(-10px, -10px);
        }

        &:hover::before{
            transform: translate(-10px, -10px);
            opacity: 1;
        }

    }

    &:nth-child(1)::after{
        background-image: url('../img/Layer\ 44.png');
    }

    &:nth-child(2)::after{
        background-image: url('../img/Layer\ 39.png');
        background-position: center;
    }

    &:nth-child(3)::after{
        background-image: url('../img/Layer\ 41.png');
    }

    &:nth-child(1)::before{
        background-image: url('../SVG/team1.svg');
    }

    &:nth-child(2)::before{
        background-image: url('../SVG/team1.svg');
        background-position: 120px;
    }

    &:nth-child(3)::before{
        background-image: url('../SVG/team1.svg');
    }
}

@media (max-width: 1200px){
    .wrapper-content{
        max-width: 900px;
    }

    .img-3-cover{
        width: 30%;
        height: 200px;
    }
}

@media (max-width: 900px){

    .img-3{
        justify-content: center;
        margin-top: 25px;
    }
    .img-3-cover{
        width: 390px;
        height: 260px;
        margin: 20px 20px;
    }
}