.footer{

    &__wrapper{
        max-width: 1200px;
        display: flex;
        margin: 100px auto 30px;
        justify-content: space-between;
        position: relative;

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--color-light-grey);
            bottom: -20px;
        }

        & h3{
            margin-bottom: 10px;
            font-size: 1.5em;
            text-transform: uppercase;
        }
    }

    &__text{
        width: 30%;

        & h3{
            font-size: 4em;
            font-weight: 700;
            color: var(--color-grey);
        }

        & p{
            font-size: 1.5em;
            color: var(--color-grey);
        }
    }

    &__social{
        display: flex;
        margin-top: 40px;
        align-items: center;
        position: relative;

        &::after{
            content: '';
            position: absolute;
            top: -25px;
            width: 100%;
            height: 2px;
            background-color: var(--color-light-grey);

        }

        & img{
            height: 15px;
            margin: 0 10px;
        }

    }

    &__blogs{
        width: 37%;
    }

    &__blogs_item{
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        cursor: pointer;
    }

    &__blogs__img{
        width: 40%;
    }

    &__blogs__text{
        padding: 10px;

        & h5{
            font-size: 1.3em;
            padding-bottom: .7em;
        }

        & p{
            font-size: 1.2em;
            color: var(--color-grey);
        }
    }


    &__instagram{
        width: 30%;
    }

    &__instagram__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & img{
            width: 32.5%;
            margin-bottom: 5px;
            cursor: pointer;
        }
    }

    & .copy{
        text-align: center;
        font-size: 1.5em;
        color: var(--color-grey);
        padding: 1em;
    }


}

@media (max-width: 1200px){
    .footer{

        &__wrapper{
            padding: 0;
            margin: 10px;
        }
    }
}

@media (max-width: 900px){
    
    .footer{
        
        &__wrapper{
            flex-wrap: wrap;
        }

        &__text{
            width: 100%;
        }

        &__blogs{
            width: 100%;
            margin-top: 20px;
        }

        &__blogs__wrapper{
            display: flex;
            margin-top: 10px;
        }

        &__blogs__text{
            padding: 0;
            padding-left: 10px;
    
            & h5{
                font-size: 1.2em;
                padding-bottom: .5em;
            }
    
            & p{
                font-size: 1em;
            }
        }

        &__instagram{
            width: 100%;
        }

        &__instagram__wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            & img{
                width: 24%;
                margin-bottom: 5px;
                cursor: pointer;

                &:nth-child(9){
                    display: none;
                }
            }
        }
    }

}

@media (max-width: 600px){

    .footer{

        &__wrapper{
            margin-top: 20px;
        }

        & h3{
            font-weight: 700;
        }

        &__blogs__wrapper{
            flex-wrap: wrap;
        }

    }

}