
.slider{
    display: flex;
    overflow: hidden;
    position: relative;
}



.slide img{
    width: 100vw;
    max-height: 900px;
    animation: 10s anim linear;
    animation-iteration-count: infinite;
}

.hero-section{
    position: relative;
}

.menu{
    position: absolute;
    top: 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    left: 50%;
    transform: translate(-50%, 0);

}

.logo a{
    font-size: 3em;
    font-weight: bold;
    color: var(--color-white);
}

.menu-items{
    display: flex;

    & a{
        color: var(--color-white);
        text-transform: uppercase;
        font-size: 1.4em;
        margin-left: 60px;
        position: relative;
        transition: .15s color linear;

        &::after{
            content: '';
            position: absolute;
            background: linear-gradient(var(--color-yellow), var(--color-yellow));
            width: 0;
            height: 3px;
            left: 0;
            bottom: -8px;
            transition: .15s width linear;
        }

        &:hover{
            color: var(--color-yellow);
        }

        &:hover::after{
            width: 100%;
        }

    }

}

.slider-cout{
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

    & span{
        font-size: 2em;
        width: 20%;
        color: var(--color-light-grey);
        text-transform: uppercase;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: -10px;
            background-color: var(--color-light-grey);
            width: 100%;
            height: 3px;
        }

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: -10px;
            background-color: var(--color-carrot);
            width: 0%;
            height: 3px;
            z-index: 2;
        }

        &.active{
            color: var(--color-white);

            &::before{
                animation: 9s progresAnim linear;
            }
        }
    }

}

@keyframes progresAnim{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.hero-text{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    & a,h2,h3{
        color: var(--color-white);
    }

    & a{

        margin-top: 150px;
        font-size: 2em;
        text-transform: uppercase;
        border: 2px solid var(--color-white);
        padding: 1em;
        position: relative;
        transition: .2s color ease-out;
        font-weight: bold;

        &:hover{
            color: var(--color-dark);
        }

        &:hover::before{
            height: 100%;
        }

        &::before{
            content: '';
            position: absolute;
            background: var(--color-yellow);
            width: 100%;
            height: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: .2s height ease-out;
        }

        &::after{
            content: '';
            position: absolute;
            background: var(--color-white);
            width: 60px;
            height: 3px;
            left: 50%;
            top: -150%;
            transform: translate(-50%, 0);
        }
    }

    & h2{
        font-size: 8em;
        margin-top: 20px;
        text-transform: uppercase;
    }

    & h3{
        font-size: 4em;
    }
}
